.nav {
    background-color: #431309;
    width: 100%;
}

ul {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    /* min-width: 450px; */
    
}

ul * {
    display: inline-block;
}

li {
    color: azure;
    list-style-type: none;
}

ul li a {
    font-size: calc(9px + 1vmin);
}

.logo {
    display: inline;
    position: absolute;
    left: 3%;
    top: 1vmin;
    color: chocolate;
}